
<%= simple_form_for(@artmedium) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :print %>
    <%= f.input :digital %>
    <%= f.input :sculpture %>
    <%= f.input :painting %>
    <%= f.input :drawing %>
    <%= f.input :photography %>
    <%= f.input :canvass %>
    <%= f.input :paper %>
    <%= f.input :mixed_media %>
    <%= f.input :watercolor %>
    <%= f.input :oil_paint %>
    <%= f.input :acrylic_paint %>
    <%= f.input :gouche_paint %>
    <%= f.input :pencil %>
    <%= f.input :ink %>
    <%= f.input :metal %>
    <%= f.input :stone %>
    <%= f.input :etching %>
    <%= f.input :lithograph %>
    <%= f.input :glass %>
    <%= f.input :clay %>
    <%= f.input :ceramic %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
