<p id="notice"><%= notice %></p>

<p>
  <strong>Print:</strong>
  <%= @artmedium.print %>
</p>

<p>
  <strong>Digital:</strong>
  <%= @artmedium.digital %>
</p>

<p>
  <strong>Sculpture:</strong>
  <%= @artmedium.sculpture %>
</p>

<p>
  <strong>Painting:</strong>
  <%= @artmedium.painting %>
</p>

<p>
  <strong>Drawing:</strong>
  <%= @artmedium.drawing %>
</p>

<p>
  <strong>Photography:</strong>
  <%= @artmedium.photography %>
</p>

<p>
  <strong>Canvass:</strong>
  <%= @artmedium.canvass %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @artmedium.paper %>
</p>

<p>
  <strong>Mixed media:</strong>
  <%= @artmedium.mixed_media %>
</p>

<p>
  <strong>Watercolor:</strong>
  <%= @artmedium.watercolor %>
</p>

<p>
  <strong>Oil paint:</strong>
  <%= @artmedium.oil_paint %>
</p>

<p>
  <strong>Acrylic paint:</strong>
  <%= @artmedium.acrylic_paint %>
</p>

<p>
  <strong>Gouche paint:</strong>
  <%= @artmedium.gouche_paint %>
</p>

<p>
  <strong>Pencil:</strong>
  <%= @artmedium.pencil %>
</p>

<p>
  <strong>Ink:</strong>
  <%= @artmedium.ink %>
</p>

<p>
  <strong>Metal:</strong>
  <%= @artmedium.metal %>
</p>

<p>
  <strong>Stone:</strong>
  <%= @artmedium.stone %>
</p>

<p>
  <strong>Etching:</strong>
  <%= @artmedium.etching %>
</p>

<p>
  <strong>Lithograph:</strong>
  <%= @artmedium.lithograph %>
</p>

<p>
  <strong>Glass:</strong>
  <%= @artmedium.glass %>
</p>

<p>
  <strong>Clay:</strong>
  <%= @artmedium.clay %>
</p>

<p>
  <strong>Ceramic:</strong>
  <%= @artmedium.ceramic %>
</p>

<%= link_to 'Edit', edit_artmedium_path(@artmedium) %> |
<%= link_to 'Back', artmedia_path %>
