<p id="notice"><%= notice %></p>

<h1>About the Artists</h1>
o
<table class="table">
  <thead>
    <tr>
      <th>ARTIST </th>
      <th>ABOUT </th>
      <th>PROFILE</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.artist_name %></td>
        <td><%= artist.about_artist %></td>
        <td><%= artist.profile_id %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "Add Artist", new_artist_path, class:"btn btn-primary btn-lg"%>
