<p id="notice"><%= notice %></p>

<p>
  <strong>Artist first name:</strong>
  <%= @artist.artist_first_name %>
</p>

<p>
  <strong>Artist last name:</strong>
  <%= @artist.artist_last_name %>
</p>

<p>
  <strong>About artist:</strong>
  <%= @artist.about_artist %>
</p>

<p>
  <strong>Artworks:</strong>
  <% @artist.artworks.each do |artwork| %>
    <p><%=link_to artwork.art_title, artwork_path(artwork.id) %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
