<%= simple_form_for(@artwork) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :artist, label: "Select Artist", label_method: :artist_name, value_method: :id, include_blank: false %>
    <%= f.input :art_title, label: "Title of Artwork", required: true, placeholder: "Write the artwork title" %>
    <%= f.input :art_description, label: "Description", placeholder: "Write a description for the artwork" %>
    <%= f.input :available %>
    <%= f.association :styles, collection: Style.order(:style), label: "Select Styles: ", as: :check_boxes, label_method: :style, value_method: :id %>
    <%= f.association :artmedia, collection: Artmedium.order(:artmedium), label: "Select Media: ", as: :check_boxes, label_method: :artmedium, value_method: :id %>
  
  </div>

   <div class="form-actions">
   
   <br>

    <%= f.button :submit, class:"btn btn-primary btn-lg"  %>
  </div>
  
<% end %>

