<p id="notice"><%= notice %></p>

<p>
  <strong>Art title:</strong>
  <%= @artwork.art_title %>
</p>

<p>
  <strong>Art description:</strong>
  <%= @artwork.art_description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @artwork.available %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artwork.artist_id %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
