
<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
      <% if @artwork.artimage.attached? %>
        <%= image_tag @artwork.artimage %>
      <% end %>

      <p>
        <strong>Art title:</strong>
        <%= @artwork.art_title %>
      </p>

      <p>
        <strong>Art description:</strong>
        <%= @artwork.art_description %>
      </p>
   
      <p>
        <strong>Artist:</strong>
        <%= @artwork.artist.artist_name %>
      </p>

      <p>
        <strong>Style:</strong>
        <%= @artwork.list_styles %>
      </p>

      <p>
        <strong>Art Medium:</strong>
        <%= @artwork.list_artmedia %>
      </p>

      <p>
        <strong>Available:</strong>
        <%= @artwork.available %>
      </p>
      
      <p>
        <strong>Price:</strong>
        <%= number_to_currency @artwork.price %>
      </p>

      <p>
        <%= link_to 'Buy Now', new_order_path(artwork_id: artwork.id), class:"btn btn-primary btn-sm" %>
      </p>

      <%= link_to 'Edit', edit_artwork_path(@artwork), class:"btn btn-primary btn-sm" %> |
      <%= link_to 'Back', artworks_path, class:"btn btn-primary btn-sm" %>
  </div>
</div>

<br>

