<p id="notice"><%= notice %></p>

<p>
  <strong>Art title:</strong>
  <%= @artwork.art_title %>
</p>

<p>
  <strong>Art description:</strong>
  <%= @artwork.art_description %>
</p>

<p>
  <strong>Art price:</strong>
  <%= @artwork.art_price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @artwork.available %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artwork.artist.profile.profile_name %>
</p>

<p>
  <strong>Styles:</strong>
  <%= @artwork.list_styles %>
</p>

<p>
  <strong>Media:</strong>
  <%= @artwork.list_artmedia %>
</p>
<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
