<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" >Artize</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

  
      <li class="nav-item active">
        <% if user_signed_in?%>
            <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %> 
             <!--Sign up and log in display vertically in relation to each other, if both in the same list item, rather than horizontally next to each other. Remove from this list item and place in own list so that sign up displays next to log in in navbar-->
        <% end %>
      </li>
     
      <li class="nav-item active">
        <% if !user_signed_in?%>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        <% end %>
      </li>

      <li class="nav-item">
           <%= link_to "Home", root_path, class: "nav-link"%>
      </li>  
      
      <li class="nav-item">
        <% if user_signed_in? %>
           <%= link_to "Artists", artists_path, class: "nav-link"%>
        <% end %>
      </li> 

      <li class="nav-item">
        <% if user_signed_in? %>
           <%= link_to "Artworks", artworks_path, class: "nav-link"%>
         <% end %>
      </li>
        
      <li class="nav-item">
        <% if user_signed_in? %>
           <%= link_to "Add Artwork", new_artwork_path, class: "nav-link"%>
        <% end %>
      </li> 
      
      <!-- Only admin may access styles and artmedia -->
      <li class="nav-item">
        <% if current_user && current_user.has_role?(:admin) %> 
           <%= link_to "Style",  styles_path, class: "nav-link"%>
        <% end %>
      </li> 

       <li class="nav-item">
        <% if current_user && current_user.has_role?(:admin) %>
           <%= link_to "Media", artmedia_path, class: "nav-link"%>
        <% end %>
      </li> 
      
      <!--It is prefered that artists only be created when new art is added to the database.-->
      <!--
      <li class="nav-item">
        <% if user_signed_in? %>
           <%= link_to "Add Artist", new_artist_path, class: "nav-link"%>
        <% end %>
      </li> 
      -->

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>


      <li class="nav-item active">
        <% if user_signed_in?%>
          <span class="nav-link"> | <%= current_user.email%></span>
        <% end %>
      </li>

    </ul>
  </div>
</nav>




               