<div class="row">   
    <div class="jumbotron">
        <div class="col-md-">
            <h1 class="display-font">Welcome to Artize!</h1>
            <br>
            <p class="lead">For Art. Formed by Art.</p>
            <hr class="my-4">
            <p>Artize is an online Gallery to buy and sell art direct, without the gallery commission.*</p>
            <p class="lead">
                <!--<a class="btn btn-primary btn-lg" href="#" role="button">Add Profile</a>-->
                <%= link_to "Artworks", artworks_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Artists", artists_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Add Artwork", new_artwork_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Add Artist", new_artist_path, class:"btn btn-primary btn-lg"%>
            </p>
        </div>

        <div class="col-md-">
            <%= image_tag "https://res.cloudinary.com/ellezique/image/upload/v1615627720/sergei_oq33up.jpg", class:"home_image"%>
        </div>
        <br>
    </div>
    <div>
        <div class= "navbar-brand">
            <h5>*Disclaimer:</h5>
        </div>
        <p> This is a coding project, for educational purposes, and not a genuine online store. The artworks on display are for demonstration purposes only and are not for sale through this site.</p>
        <p>A special thank you to the following artists: 
            <a href="https://www.deviantart.com/toko-suzuki" target="_blank">Toko Suzuki, </a>
            <a href="https://www.deviantart.com/leondevenice" target="_blank">Leon Devenice, </a>
            <a href="https://unsplash.com/@steve_j" target="_blank">Steve Johnson.</a>
        Please do contact these artists directly if you are interested in purchasing their art.
        </p>
    </div>
</div>
