<div class="row">   
    <div class="jumbotron">
        <div class="col-md-">
            <h1 class="display-4">Welcome to Artize!</h1>
            <p class="lead">For Art. Formed by Art</p>
            <hr class="my-4">
            <p>An online Gallery to buy and sell art direct, without the gallery commission.</p>
            <p class="lead">
                <!--<a class="btn btn-primary btn-lg" href="#" role="button">Add Profile</a>-->
                <%= link_to "Artworks", artworks_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Artists", artists_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Add Artwork", new_artwork_path, class:"btn btn-primary btn-lg"%>
                <%= link_to "Add Artist", new_artist_path, class:"btn btn-primary btn-lg"%>
            </p>
        </div>

        <div class="col-md-">
            <%= image_tag "sergei", class:"home_image"%>
        </div>

    </div>
</div>
