<h1>Your Order</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @artwork.art_title %></td>
            <td><%= @artwork.artist.artist_name %></td>
            <td><%= number_to_currency @artwork.price %></td>
        </tr>
    </tbody>
</table>

<button
  data-stripe="payment"
  data-public-key="<%= ENV["STRIPE_PK_TEST"] %>"
  data-session-id="<%= @session.id %>"
>
Buy Now!
</button>

<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag 'stripe-checkout' %>


