<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Order price:</strong>
  <%= @order.order_price %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
