<p id="notice"><%= notice %></p>

<h1>Styles</h1>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Abstract</th>
      <th>Subjective</th>
      <th>Figurative</th>
      <th>Geometric</th>
      <th>Photorealism</th>
      <th>Pop</th>
      <th>Illustration</th>
      <th>Still life</th>
      <th>Surrealism</th>
      <th>Landscape</th>
      <th>Portrait</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= style.objective %></td>
        <td><%= style.abstract %></td>
        <td><%= style.subjective %></td>
        <td><%= style.figurative %></td>
        <td><%= style.geometric %></td>
        <td><%= style.photorealism %></td>
        <td><%= style.pop %></td>
        <td><%= style.illustration %></td>
        <td><%= style.still_life %></td>
        <td><%= style.surrealism %></td>
        <td><%= style.landscape %></td>
        <td><%= style.portrait %></td>
        <td><%= link_to 'Show', style %></td>
        <td><%= link_to 'Edit', edit_style_path(style) %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path %>
