<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @style.objective %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @style.abstract %>
</p>

<p>
  <strong>Subjective:</strong>
  <%= @style.subjective %>
</p>

<p>
  <strong>Figurative:</strong>
  <%= @style.figurative %>
</p>

<p>
  <strong>Geometric:</strong>
  <%= @style.geometric %>
</p>

<p>
  <strong>Photorealism:</strong>
  <%= @style.photorealism %>
</p>

<p>
  <strong>Pop:</strong>
  <%= @style.pop %>
</p>

<p>
  <strong>Illustration:</strong>
  <%= @style.illustration %>
</p>

<p>
  <strong>Still life:</strong>
  <%= @style.still_life %>
</p>

<p>
  <strong>Surrealism:</strong>
  <%= @style.surrealism %>
</p>

<p>
  <strong>Landscape:</strong>
  <%= @style.landscape %>
</p>

<p>
  <strong>Portrait:</strong>
  <%= @style.portrait %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
